@page "/result"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json
@inject ProtectedSessionStorage protectedSessionStore
@inject Models.DB db
<PageTitle>Result</PageTitle>

<h3>Result</h3>
<ul>
    @foreach (var item in ExamResult)
    {
        <li>
            <div class="row">
                <div class="col">
                    @item.Word.Word1
                </div>
                <div class="col">
                    @if (item.IsCorrect)
                    {
                        <p class="text-success">Correct</p>
                    }
                    else
                    {
                        <p class="text-danger">Incorrect</p>
                    }
                </div>
                <div class="col">
                    <p>@item.Answer</p>
                </div>
                <div class="col">
                    @foreach(var item1 in item.Word.Vocabularies)
                    {
                        <p>@item1.Meaning</p>
                    }
                </div>
            </div>
        </li>
    }
</ul>

@code {
    private List<Models.Result> ExamResult = new();
    private string tmp;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadStateAsync();
            ExamResult = JsonConvert.DeserializeObject<List<Models.Result>>(tmp);
            StateHasChanged();
        }
    }

    private async Task LoadStateAsync()
    {
        var result = await protectedSessionStore.GetAsync<string>("Result");
        tmp = result.Success ? result.Value : "";
    }
}
